.wrapper {
  width: 100%;
  background-color: #f0f0f0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo img {
  height: 50px;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;

}

.header ul li a {
    cursor: pointer ;
    
  
}

.btn {
  display:inline-block;
  gap: 10px;
}

.btns {
  padding: 8px 15px;
  border: none;
  background-color: #285fa7;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.btns:hover {
  background-color: #318f1e;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

.cards {
  width: 180px;
  text-align: center;

  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.cards img {
  width: 100px;
  height: 120px;
  object-fit: contain;
}

.cards h2 {
  font-size: 18px;
  margin-top: 10px;
  color: #333;
}
#what-we-doing{
    text-align: center;
}
.hero-section-btn{
    width: 100px;
    text-align: center;
    height: 100px;
}


.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  flex-wrap: wrap;
}

.left-part {
  flex: 1;
  min-width: 300px;
}

.right-part {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.right-part img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
}
.second-section-img{
    margin-left: 20px;
}
.hero-bottom{
  border: 1px solid gray; */
    height: 100px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(194, 224, 147);
    margin-left: 10px
}
  


.button-services button {
  border: none;               
  padding: 10px 20px;           
  font-size: 20px;             
  margin: 5px; 
  margin-right: 10pxS;                
  border-radius: 5px;          
  cursor: pointer;          

  }
#Quick-Donate{
  background-color: #318f1e important;
}

.input-btn1, .input-btn2 {

  color: rgb(20, 15, 15);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  float: left;
  margin-top: 12px;
  margin-left: 8px;
  

}
.input-btn1:hover{
background-color:rgb(30, 18, 199); ;
}
.input-btn2:hover{
background-color:rgb(30, 18, 199); ;
}
input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  width: 60px;
  text-align: center;
  float: left;
  margin-top: 12px;
}
.button-services :hover{
  background-color: #318f1e;
}



